@import "../global/global.css";
@import "tailwindcss" theme(static);
@import "@nuxt/ui";


@config '../../tailwind.config.js';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-monserrat: "Montserrat", sans-serif;
}

body {
  @apply bg-[#fbfbfc] dark:bg-[#15191f] font-manrope;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
