@import "../global/global.css";
@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-monserrat: "Montserrat", sans-serif;
}

body {
  @apply bg-[#fbfbfc] dark:bg-[#15191f] font-manrope;
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
